In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('Educationbyzipcode.csv')

,Label (Grouping),ZCTA5 89010!!Total!!Estimate,ZCTA5 89010!!Percent!!Estimate,ZCTA5 89010!!Male!!Estimate,ZCTA5 89010!!Percent Male!!Estimate,ZCTA5 89010!!Female!!Estimate,ZCTA5 89010!!Percent Female!!Estimate,ZCTA5 89019!!Total!!Estimate,ZCTA5 89019!!Percent!!Estimate,ZCTA5 89019!!Male!!Estimate,...,ZCTA5 96161!!Male!!Estimate,ZCTA5 96161!!Percent Male!!Estimate,ZCTA5 96161!!Female!!Estimate,ZCTA5 96161!!Percent Female!!Estimate,ZCTA5 97635!!Total!!Estimate,ZCTA5 97635!!Percent!!Estimate,ZCTA5 97635!!Male!!Estimate,ZCTA5 97635!!Percent Male!!Estimate,ZCTA5 97635!!Female!!Estimate,ZCTA5 97635!!Percent Female!!Estimate
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,6,(X),6,(X),0,(X),119,(X),111,...,480,(X),614,(X),0,(X),0,(X),0,(X)
2,Less than high school graduate,0,0.0%,0,0.0%,0,-,0,0.0%,0,...,40,8.3%,78,12.7%,0,-,0,-,0,-
3,High school graduate (includes equival...,0,0.0%,0,0.0%,0,-,61,51.3%,53,...,66,13.8%,147,23.9%,0,-,0,-,0,-
4,Some college or associate's degree,6,100.0%,6,100.0%,0,-,51,42.9%,51,...,349,72.7%,235,38.3%,0,-,0,-,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Less than high school graduate,-,(X),"21,250",(X),-,(X),"17,436",(X),"18,967",...,"23,810",(X),"30,182",(X),-,(X),-,(X),-,(X)
64,High school graduate (includes equival...,"33,750",(X),"42,000",(X),-,(X),-,(X),-,...,"52,188",(X),"30,769",(X),-,(X),-,(X),-,(X)
65,Some college or associate's degree,"25,000",(X),"36,250",(X),-,(X),"53,309",(X),"53,529",...,"50,056",(X),"33,750",(X),-,(X),-,(X),-,(X)
66,Bachelor's degree,"74,375",(X),"74,063",(X),-,(X),-,(X),-,...,"76,603",(X),"50,571",(X),-,(X),-,(X),-,(X)
67,Graduate or professional degree,-,(X),-,(X),-,(X),"156,000",(X),-,...,"116,477",(X),"71,288",(X),-,(X),-,(X),-,(X)